PRIVATE_KEY=

ETHEREUM_RPC_URL=
SEPOLIA_RPC_URL=
BASE_RPC_URL=
BASE_SEPOLIA_RPC_URL=
POLYGON_RPC_URL=
POLYGON_AMOY_RPC_URL=
LISK_RPC_URL=
MEZO_TESTNET_RPC_URL=https://rpc.test.mezo.org

ETHERSCAN_API_KEY=
BASESCAN_API_KEY=
POLYGONSCAN_API_KEY=
LISK_API_KEY=

MAINNET_CONTRACT_ADDRESS=
SEPOLIA_CONTRACT_ADDRESS=
BASE_CONTRACT_ADDRESS=
BASE_SEPOLIA_CONTRACT_ADDRESS=
POLYGON_CONTRACT_ADDRESS=
POLYGON_AMOY_CONTRACT_ADDRESS=
LISK_CONTRACT_ADDRESS=
LISK_TESTNET_CONTRACT_ADDRESS=
MEZO_TESTNET_CONTRACT_ADDRESS=
